:root {
  font-family: "Raleway", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: rgb(22, 32, 58);
}

.active {
  background: rgb(28, 40, 73);
}
.active h1 {
  color: rgb(226, 120, 108);
}
.active span {
  color: rgb(255, 255, 255);
}
.active:before,
.active:after {
  transform: none !important;
}

.app {
  height: 100vh;
  overflow: hidden;
}
